.nav{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  /* display: inline-flex;
  margin: 0;
  padding: 0;
  justify-content: left;
  top: 0;
  left: 0; */
   /* justify-content: center; */
  /* align-items: flex-start; */
  /* width: 100vw; */
}

.nav-container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100vw;
  display: flex;
  flex-direction:row;
  /* justify-content:space-evenly; */
  /* background:yellowgreen; */
  /* z-index: 1;  */
}

.span {
  /* justify-content: space-around; */
  /* link:hover: none; */
  
}
.left-container {
  /* justify-content: center; */
  display: flex;
  flex:1;
  text-align: left;
  padding-left: 30px;
}
.logo {
  /* margin: 0; */
  /* padding: 0; */
  font-family: "Kaushan Script", cursive;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-size: 42px;
  /* display: flex; */
  align-items:  left;
  /* justify-items: flex-start; */
  /* flex: 1; */
  /* padding-left: 0px; */
}

.logo:hover {
  /* transform: scale(.9);
  transition: all .5s ease-in-out;
  color: rgba(249, 87, 28, 0.6); */
  text-decoration: none;
  }

.right-container {
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
  /* justify-content: unset; */
  font-size: 16px;
  /* justify-content: space-around; */
}

.links {
  /* flex: 1; */
  display:flex;
  max-width: 60vw;
  align-items: right;
  justify-content:flex-end;
}

.link {

  /* justify-content: space-around; */
  /* flex: 1; */
  align-items: right;
  padding: 10px;
  color:black;
  
}

a:hover {
  transform: scale(1.25);
  transition: all 1.1s ease-in-out;
  color: rgba(249, 87, 28, 0.6);
  }

a:visited {
  text-decoration: black;
}  

a:visited {
    color: black;
  }

  @media screen and (max-width: 670px) {
    .links {
      /* stack nav links */
      flex-direction:column;
      padding-bottom: 15px;
      /* justify-content: center; */
      align-items: center;
      /* padding-top: 8 px; */
    }

    .nav-container {
      /* stack nav contents */
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
    }
    .left-container{
      /* center nav left */
      justify-content: center;
    }

    .logo{
      /* justify-content: center; */
      align-self: center;
    }
    .right-container {
      /* center nav links */
      justify-content: center;
      /* align-items: center; */
    }
  }



/* @import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');





.link,
body {
  font-family: "Montserrat", sans-serif;;
}


nav {
    flex: 1;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    padding: 20px 0;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: -2px;
    box-shadow: 1px 1px 1px .3px #CECECE;
    width: 100%;
}

.logo {
    font-family: 'Kalam', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    letter-spacing: -3px;
    flex: 1;
    max-width: 30vw;
    transition: 250ms all;
}

.logo:hover {
    transform: scale(1.004);
}



.link {
    flex: 1;
}

.welcome {
    padding: 0 100px;
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 500px) {
    nav {
        width: 98%;
    }
    .logo {
        max-width: 50%;
    }
    .links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 50vw;
    }
    .link {
        padding: 3px;
    }
} */