nav {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: rgba(249, 87, 28, 0.6);
}
.nav-container {
  width: 100vw;
  height: 12vh;
  min-height: 125px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  padding-top: 26px;
}

.link-welcome {
  align-content: center;
  padding: 9px 8px 0 0;
}

.nav-welcome {
  align-content: center;
}
.left-container {
  display: flex;
  flex: 1;
  text-align: left;
  align-content: center;
  padding-left: 15px;
  font-size: 48px;
}
.logo-link {
  font-family: "Kaushan Script", cursive;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  letter-spacing: -3px;
}
.right-container {
  font-family: "Kaushan Script", cursive;
  flex-direction: row nowrap;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 0 0;
  font-size: 22px;
  align-content: center;
}
.links {
  display: flex;
  align-items: right;
  justify-content: space-around;
}
.link {
  align-items: right;
  padding: 10px;
  color: black;
}
a:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in;
  transition: all 0.3s ease-out;
}
.logo-link:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: black;
}
a:visited {
  color: black;
}

@media (max-width: 880px) {
  .right-container {
    font-size: 18px;
  }
}

@media screen and (max-width: 670px) {
  .nav {
    padding-bottom: 10px;
  }
  .nav-container {
    flex-direction: column;
    align-content: center;
    border-bottom: none;
  }
  .left-container {
    justify-content: flex-start;
    padding-left: 0;
  }
  .logo-link {
    align-self: center;
    line-height: 46px;
  }
  .right-container {
    justify-content: center;
    padding-right: 0;
  }
  .link,
  body {
    font-family: "Montserrat", sans-serif;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
@media screen and (max-width: 500px) {
  nav {
    width: 98%;
  }
  .nav-container {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 10px;
  }
  .logo-link {
    max-width: 50%;
  }
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
  }
  .link {
    padding: 3px;
  }
}
