.footer-container {
  height: 75px;
  border-top: solid black 1px;
  padding-top: 20px; 
  font-size: 10px;
  box-sizing: border-box;
  /* background-color: pink; */
  /* width: 100vw; */
  display: flex;
  flex-flow: row nowrap;
  /* align-items:center; */
  /* justify-content: center; */
  /* column-gap: 5px; */
  /* display: inline-flexbox; */
}

.footer-item-1 {
  /* width: 33vw; */
  height: auto;
  text-align: left;
  align-self:flex-start;
  padding-left: 0px;
  /* justify-content:flex-start; */
  /* text-align:left; */
}

.footer-item-2 {
  /* display: flex; */
  /* background-color: "lightblue" */
  /* width: 33vw; */
  height: auto;
  text-align: center;
  align-self: flex-end;
  /* align-content: center; */
}



.footer-item-3 {
/* width: 33vw; */
height: auto;
text-align: right;
justify-content:flex-end;
/* justify-content: flex-start; */
/* align-items:flex-end */
}

.footer-item-1,.footer-item-2,.footer-item-3 {
  width: 33vw;
  flex-wrap: wrap;
}

@media screen and (max-width: 670px) {
  .footer-container {
    flex-direction:column nowrap;
    /* justify-content: center; */
    /* align-content: center; */
    /* align-items: center; */
    /* flex-flow: column nowrap; */
  }

  footer-item-1,footer-item-2,footer-item-3 {
    width: 100vw;
    flex-wrap: nowrap;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
  }


  /* .footer-item-1{
    text-align: center;
  } */
}
