button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.6em 1em;
  border-radius: 3px;
  box-shadow: 2px 4px 10px rgba(249, 87, 28, 0.6);
  transition: all 0.3s ease;
  border: 1px solid rgba(249, 87, 28, 0.6);
}

.form-container {
  background-image: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60  ");
  background-size: cover;
  align-self: center;
  padding: 1em;
  width: 50%;
  height: 100%;
  margin: 12em auto;
  border: 2px solid gray;
  border-radius: 6px;
  transition: all 2s ease;
}

.form-container h3 {
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.form-container form input {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em auto;
  font-size: 1rem;
  border-radius: 3px;
  border: 2px solid #e0e0e0;
  outline: none;
  transition: all 0.4s ease;
}

.form-container form input:focus,
.form-container form input:active {
  border: 2px solid #82ada9;
}

.form-container form input:valid {
  border: 2px solid #e3ece4;
}

.form-container form button {
  width: 50%;
  margin: 1em auto;
  background: rgba(249, 87, 28, 0.6);
  border: rgba(12, 12, 12, 0.6);
}

.form-container form button:hover {
  box-shadow: 3px 8px 16px rgba(27, 27, 27, 0.6);
}

.form-container form a {
  margin: auto;
}

.form-container form label {
  margin-top: 0.6em;
}

.danger {
  background: #e57373;
}

.error {
  text-align: center;
  color: #e57373;
  font-size: 1.1rem;
}

.danger:hover {
  color: #f8f8f8;
  background: #100f0f;
}

.hide {
  transform: translate(-50%, 200%);
}

.success {
  background: #dcedc8;
}

.success h3:hover {
  color: #333;
  opacity: 0.6;
}

.landing .container {
  text-align: center;
}

.landing .main .item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  grid-template-rows: auto;
  width: 80%;
  margin: 4em auto;
}
.form-container h3 {
  text-align: center;
  color: white;
}
.form-container form label {
  margin-top: 0.6em;
  color: white;
}
@media screen and (max-width: 670px) {
  .form-container {
    width: 90%;
  }
}
