.home-container {
  /* linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
      put 50% white over the original image*/
    background: url(https://images.unsplash.com/photo-1543484623-542877a80db5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1051&q=80) no-repeat center center fixed; 
    /* background-color: black; */
    height: 100vh;
    margin-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(90%);
    /* margin: 40px 0; */
  } 

   /* .home-banner-text {
    color: rgba(249, 87, 28, 1);
    font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
    margin: auto 0;

    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border:1px;
  } */

.home-banner-text{
  /* color: rgba(249, 87, 28, 1); */
  color: white;
  width: 100%;

  font-size: 64px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  
  background-color: rgba(55.3, 56.9, 55.3, 0.6);
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  padding: 50px;
  /* text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);  */
}

.welcome-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home-banner-text img {
  opacity: .7;
}

.hit-the-floor {
  text-align: center;
}

.home-text-descriptions {
  /* background-color: rgba(55.3, 56.9, 55.3, 0.6); */
  padding: 15px;
  width: 20vw;
}

.food-card {
border-radius: 6px;
}

.homepage-cards {
  /* background: black; */
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  margin: 50px;
  align-items:center;
}

.food-card div{
position:relative;
width: 200px;
height: 200px;
/* vertical-align: middle; */
border: 10px;
color:black;
box-shadow: 3px 3px 3px 1px ;
border-radius: 6px;
}

.homepage-cards a{
  color:black;
}

.card-1{
  background-image:url(https://images.unsplash.com/photo-1481070555726-e2fe8357725c?ixid=MnwxMjA3fDB8MHxwaG90[…]fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);
  background-size: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-2{
  background-image:url(https://images.unsplash.com/photo-1541975902628-b157a9411603?ixid=MnwxMjA3fDB8MHxwaG90[…]GVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80);
  background-size: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-3{
  background-image:url(https://images.unsplash.com/photo-1532634922-8fe0b757fb13?ixlib=rb-1.2.1&ixid=MnwxMjA3[…]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1052&q=80);
  background-size: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.food-content p {
  width:100%;
  color: white;
  background-color: rgba(249, 87, 28, 0.6);
  text-align: center;
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1180px) {
  .home-banner-text{
    font-size: 34px;
  }
}


@media screen and (max-width: 675px) {

  .home-container {
    height: 85vh;
  }
  .homepage-cards {
    flex-direction:column;
    
  }

  .food-card {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .home-banner-text {
    font-size: 24px;
  }
}